@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<string>

<link rel="stylesheet" href="~/css/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<div class="wrapper">
    <div class="left_block">
        <div class="box" id="menu">
            <div class="title">
                Список №1
                <span class="expand">+</span>
            </div>
            <ul class="dropdown">
                <li class="test" ><a asp-controller="Article" asp-action="GetArticle" asp-route-id=1>procedures.php</a></li>
                <li class="test"><a asp-controller="Article" asp-action="GetArticle" asp-route-id=2>company_list.php</a></li>
                <li class="test"><a asp-controller="Article" asp-action="GetArticle" asp-route-id=3>company.php</a></li>
                <li class="test"><a asp-controller="Article" asp-action="GetArticle" asp-route-id=4>protocols_list.php</a></li>
                <li class="test"><a asp-controller="Article" asp-action="GetArticle" asp-route-id=5>protocols.php</a></li>
            </ul>
        </div>
    </div>
    <div class="right_block">
        <div class="maincontent">
            @{
                if (Model != null)
                {
                    @Html.Raw(Model[0]);

                    <div class="text-center"><input type="submit" value="Попробовать Пример" onclick="location.href='@Url.Action(Model[1], "api")'" /></div>
                    <p></p>
                }

            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @if(Model != null)
        {
            <text>
            $(".dropdown").show();
            </text>
        }
        else
        {
            <text>
            $(".dropdown").hide();
            </text>
        }

        $(".box div").click(function () {
            $(this).next().slideToggle();
            var text = $("span", this).text();
            $("span", this).text(text != "+" ? "+" : "-")
        });
    });
</script>