@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<string>


@{
    int ida = 1;
}
<link rel="stylesheet" href="~/css/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body>

    <div id="wrapper">
        <div id="content">
            <div id="menu" class="box">
                <h3 class="etp">
                    <a>ETP</a>
                    <span class="expand">+</span>
                </h3>
                <ul>
                    <li>procedures.php</li>
                    <li><a asp-controller="Article" asp-action="GetArticle" asp-route-id=1>procedures.php</a></li>
                    <li><a asp-controller="Article" asp-action="GetArticle" asp-route-id=2>company_list.php</a></li>
                    <li><a asp-controller="Article" asp-action="GetArticle" asp-route-id=3>company.php</a></li>
                    <li><a asp-controller="Article" asp-action="GetArticle" asp-route-id=4>protocols_list.php</a></li>
                    <li><a asp-controller="Article" asp-action="GetArticle" asp-route-id=5>protocols.php</a></li>
                </ul>
            </div>
            <script>
                $(document).ready(function () {
                    $("ul").hide();
                    $(".box h3").click(function () {
                        $(this).next().slideToggle();
                        var text = $("span", this).text();
                        $("span", this).text(text != "+" ? "+" : "-")
                    });
                });
            </script>

            <div id="maincontent">

                @{
                    if (Model != null)
                    {
                        @Html.Raw(Model[0]);

                        <script>
                            $(document).ready(function () {
                                $("ul").show();
                            });
                        </script>

                        <div class="text-center"><input type="submit" value="Попробовать Пример" onclick="location.href='@Url.Action(Model[1], "api")'" /></div>
                        <p></p>
                    }

                }

            </div>


        </div>
    </div>

</body>