/*
					Created by villyfiki
					
					Leaders of Digital. Ural IT Hub. GazPromBank case. 
					
					https://vk.com/teatekking
					https://github.com/VillyFiki
					https://t.me/villyfiki
					
*/

/*
*************************************************************************************************************************************************
*/

/*
	menu бар слева
*/
#menu {
    width: 220px;
    padding: 1px;
    float: left;
    margin-top: 20px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #fff;
    margin-left: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
}

    #menu h3 {
        color: #000;
        margin: 5px;
    }

    #menu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 220px;
    }

        #menu ul li:hover {
            background-color: #F0F0F0;
        }

    #menu li {
        display: block;
        padding: 5px;
        color: #616161;
        text-decoration: none;
    }

    #menu a {
        display: block;
        font-size: 12px;
        color: #616161;
        margin-left: 15px;
        text-decoration: none;
    }

.title {
    font-size: 14px;
    cursor: pointer;
    margin-top: 3px;
    padding: 8px;
}

    .title:hover {
        background: #F0F0F0;
    }

.expand {
    cursor: pointer;
}

/*
*************************************************************************************************************************************************
*/

/*
	Content бар справа
*/
.maincontent {
    list-style-type: none;
    width: 620px;
    float: right;
    margin-top: 20px;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

/*
*************************************************************************************************************************************************
*/

/*
	Для статей 
*/
.article {
}

    .article ul {
        display: block;
    }

li {
    display: block;
}

.article a {
}

.url {
}

.tag {
    text-align: center;
    background-color: #EFEEF7;
    margin-top: 20px;
    width: 60px;
    padding: 8px;
    box-shadow: 1px 1px 8px rgba(0,0,0,.1);
}

.gray {
    background-color: #f2f2f2;
    padding: 4px;
}

table {
    border-spacing: 0 4px;
    margin: 0;
}

td, th {
    margin: 0;
    border: 1px solid #000;
    padding: 6px;
    font-size: 12px;
}






/*
*************************************************************************************************************************************************
*/

/*
	Блоки, враперы, шрифты.
*/
.wrapper {
    height: 800px;
    width: 898px;
}

.left_block {
    float: left;
    width: 220px;
}

.right_block {
    float: right;
    width: 678px;
}

body {
    font-family: Verdana, Roboto Condensed, sans-serif;
    font-size: 14px;
}
