/*
	menu бар слева
*/
#menu {
    width: 210px;
    padding: 1px;
    float: left;
    margin-top: 20px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #fff;
    margin-left: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
}

    #menu h3 {
        color: #000;
        margin: 5px;
    }

    #menu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 180px;
    }

        #menu ul li:hover {
            background-color: #F0F0F0;
        }

    #menu li {
        display: block;
        padding: 5px;
    }

.text {
    font-size: 12px;
    color: #616161;
    margin-left: 15px;
}

/*		Заголовок		*/
.title {
    font-size: 14px;
    cursor: pointer;
    margin-top: 3px;
    padding: 8px;
}

    .title:hover {
        background: #F0F0F0;
    }

.expand {
    cursor: pointer;
    float: right;
}

/*
		Content бар справа
*/
.maincontent {
    list-style-type: none;
    word-wrap: break-word;
    width: 660px;
    float: right;
    margin-top: 20px;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

/*
	Тех часть. Блоки, враперы, шрифты.
*/
.wrapper {
    height: 800px;
    width: 898px;
}

.left_block {
    float: left;
    width: 220px;
}

.right_block {
    float: right;
    width: 678px;
}

body {
    font-family: Verdana, Roboto Condensed, sans-serif;
    font-size: 14px;
}
